.marketer-preview {
    text-align: center;

    .name {
        font-weight: 600;
        font-size: 18px;
    }

    td {
        border: 1px solid gray;
        background-color: #fffcf5;
        padding: 5px;
    }

}